<div class="card h-100">
	<div class="card-body d-flex flex-column">
		<div class="d-flex justify-content-between">
			<h6 class="category-social">
				<i class="fa fa-fire"></i>
				{{ document.type.name }}
			</h6>
			{% if app.user and app.user.isVerified %}
				<p>
					{% if app.user in document.favoriteUsers %}
						<a href="{{ path('user_documents_remove_favorite', {id: document.id, origin: app.request.attributes.get('_route')}) }}">
							<i class="fa-solid fa-heart text-danger"></i>
						</a>
					{% else %}
						<a href="{{ path('user_documents_add_favorite', {id: document.id, origin: app.request.attributes.get('_route')}) }}">
							<i class="fa-regular fa-heart"></i>
						</a>
					{% endif %}
				</p>
			{% endif %}
		</div>
		<div>
			{% include 'partials/_rating.html.twig' %}
		</div>
		<h4 class="card-title">
			<a href="{{ path('document_show', {'slug': document.slug}) }}">{{ document.title }}</a>
		</h4>
		<p class="card-description">
			{% for level in document.levels %}
				<a href="{{ path('document_search', {level: level.id }) }}" class="text-{{ level.color }} mx-1">
					{% if level.short %}
						#{{ level.short }}
					{% else %}
						#{{ level.name }}
					{% endif %}
				</a>
				{% if not loop.last %}
					,
				{% endif %}
			{% endfor %}
		</p>
		<div class="card-footer d-flex justify-content-between bg-white mt-auto">
			<div class="author">
				<img src="assets/img/julie.jpg" alt="" class="avatar img-raised">
				<span>{{ document.author.username }}</span>
			</div>
			<div class="stats d-flex">
				<div class="mx-2">
					<i class="fa-duotone fa-file-arrow-down"></i>
					{{ document.downloadsNumber }}
				</div>
				<div class="mx-2">
					<i class="fa-duotone fa-comment"></i>
					{{ document.comments | length }}
				</div>
			</div>
		</div>
	</div>
</div>
