<footer class="bg-light py-3 mt-auto">
	<section class="row row-cols-1 row-cols-md-3 mx-3">
		<div class="col text-center">
			<img src="" alt="" class="logo">
			<h2>TeachingHub</h2>
		</div>
		<div class="col">
			<h3>Chercher un document</h3>
			<nav class="mb-3">
				<ul class="navbar-nav ms-3">
					<li>Top documents téléchargés</li>
					<li>Derniers documents déposés</li>
					<li>Documents par matière</li>
					<li>Documents par niveau</li>
					<li>Documents par auteur</li>
				</ul>
			</nav>
			<h3>Déposer un document</h3>
		</div>
		<div class="col">
			<h3>À propos de nous</h3>
			<nav>
				<ul class="navbar-nav ms-3">
					<li>
						<a href="{{ path('app_contact') }}">Nous contacter</a>
					</li>
					<li>
						<a href="{{ path('app_about') }}">À propos de nous</a>
					</li>
					<li>
						<a href="{{ path('app_legal_mentions') }}">Mentions Légales</a>
					</li>
					<li>
						<a href="{{ path('app_accessibility') }}">Politique d'accessibilité</a>
					</li>
					<li>
						<a href="{{ path('app_privacy') }}">Politique de confidentialité</a>
					</li>
					<li>Nos partenaires</li>
					<li>Plan du site</li>
				</ul>
			</nav>
		</div>
	</section>
	<section class="d-flex justify-content-between align-items-center my-3">
		<div class="d-flex align-items-center w-50 w-md-100">
			<div class="bar"></div>
		</div>
		<div class="d-flex justify-content-around align-items-center w-100 fs-1">
			<i class="fa-brands fa-facebook-f"></i>
			<i class="fa-brands fa-x-twitter"></i>
			<i class="fa-brands fa-youtube"></i>
			<i class="fa-brands fa-tiktok"></i>
			<i class="fa-brands fa-instagram"></i>
		</div>
		<div class="d-flex align-items-center w-50 w-md-100">
			<div class="bar"></div>
		</div>
	</section>
	<section class="text-center">
		Made with
		<i class="fa-solid fa-heart"></i>
		and a lot of
		<i class="fa-solid fa-mug-saucer"></i>
		by
		<a href="https://lapinou.tech" target="_blank">Lapinou.tech</a>
	</section>
</footer>
