<footer class="bg-light py-3 mt-auto">
	<section class="row row-cols-1 row-cols-md-3 mx-3 g-3">
		<div class="col d-flex align-items-center justify-content-center">
			<img src="{{ asset('images/logo.png') }}" alt="" class="footer-logo">
		</div>
		<div class="col">
			<h3>Chercher un document</h3>
			<nav class="mb-3">
				<ul class="navbar-nav ms-3">
					<li>
						<a href="{{ path('document_top_downloads') }}">Top documents plus téléchargés</a>
					</li>
					<li>
						<a href="{{ path('document_top_ratings') }}">Top documents mieux notés</a>
					</li>
				</ul>
			</nav>
			<h3>Déposer un document</h3>
		</div>
		<div class="col">
			<h3>À propos de nous</h3>
			<nav>
				<ul class="navbar-nav ms-3">
					<li>
						<a href="{{ path('app_contact') }}">Nous contacter</a>
					</li>
					<li>
						<a href="{{ path('app_about') }}">À propos de nous</a>
					</li>
					<li>
						<a href="{{ path('app_legal_mentions') }}">Mentions Légales</a>
					</li>
					<li>
						<a href="{{ path('app_accessibility') }}">Politique d'accessibilité</a>
					</li>
					<li>
						<a href="{{ path('app_privacy') }}">Politique de confidentialité</a>
					</li>
					<li>
						<a href="{{ path('app_faq') }}">Foire aux questions</a>
					</li>
					<li>
						<a href="https://buymeacoffee.com/lapinou.tech" target="_blank">Soutenir PartageProf</a>
					</li>
				</ul>
			</nav>
		</div>
	</section>
	<section class="d-flex justify-content-between align-items-center my-3">
		<div class="d-flex align-items-center w-50 w-md-100">
			<div class="bar"></div>
		</div>
		<div class="d-flex justify-content-around align-items-center w-100 fs-1">
			<a href="https://www.facebook.com/profile.php?id=61558958707802" target="_blank" title="Facebook" class="footer-link">
				<i class="fa-brands fa-facebook-f"></i>
			</a>
			<a href="https://twitter.com/PartageProf" target="_blank" title="Twitter" class="footer-link">
				<i class="fa-brands fa-x-twitter"></i>
			</a>
			<a href="https://www.youtube.com/@PartageProf" target="_blank" title="Youtube" class="footer-link">
				<i class="fa-brands fa-youtube"></i>
			</a>
			<a href="https://discord.gg/UuHvgnFYew" target="_blank" title="Discord" class="footer-link">
				<i class="fa-brands fa-discord"></i>
			</a>
			<a href="https://www.instagram.com/partageprof1/" target="_blank" title="Instagram" class="footer-link">
				<i class="fa-brands fa-instagram"></i>
			</a>
		</div>
		<div class="d-flex align-items-center w-50 w-md-100">
			<div class="bar"></div>
		</div>
	</section>
	<section class="text-center">
		Made with
		<i class="fa-solid fa-heart"></i>
		and a lot of
		<i class="fa-solid fa-mug-saucer"></i>
		by
		<a href="https://lapinou.tech" target="_blank">Lapinou.tech</a>
	</section>
</footer>
