{% extends 'admin/base.html.twig' %}

{% block title %}
	{% if edit %}
		Modifier une matière
	{% else %}
		Ajouter une matière
	{% endif %}
	- Administration
{% endblock %}

{% block body %}
	<div class="container">
		{{ form_start(form) }}
		{{ form_row(form.name) }}
		{{ form_row(form.icon) }}
		{{ form_row(form.levels) }}
		<button class="btn btn-primary">
			{% if edit %}
				<i class="fa-duotone fa-edit me-2"></i>
				Modifier la matière
			{% else %}
				<i class="fa-duotone fa-save me-2"></i>
				Enregistrer la matière
			{% endif %}
		</button>
		{{ form_end(form) }}
	</div>
{% endblock %}
