{% extends 'base.html.twig' %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/rating.js') }}" crossorigin="anonymous" defer></script>
	<script src="{{ asset('js/add_theme.js') }}" crossorigin="anonymous" defer></script>
{% endblock %}

{% block title %}
	{% if edit %}
		Editer un document
	{% else %}
		Ajouter un document
	{% endif %}
{% endblock %}
{% block body %}
	<div class="container my-5">
		<h1 class="page-title">
			{% if edit %}
				Editer un document
			{% else %}
				Ajouter un document
			{% endif %}
		</h1>

		{% for label, messages in app.flashes %}
			{% for message in messages %}
				<div class="alert alert-{{ label }} mx-3 alert-dismissible" role="alert">
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					{{ message }}
				</div>
			{% endfor %}
		{% endfor %}


		<turbo-frame id="handle-document">
			{{ form_start(form) }}
			<div class="row">
				<div class="col-md-6">
					{{ form_row(form.type) }}
				</div>
				<div class="col-md-6">
					{{ form_row(form.levels, {
					'attr': {
						'class': 'd-flex flex-wrap',
					},
					'label_attr': {
						'class': 'me-2',
					}
				}) }}
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					{{ form_row(form.subjects, {
					'attr': {
						'class': 'd-flex flex-wrap',
					},
					'label_attr': {
						'class': 'me-2',
					},
					'required': true,
				}) }}
				</div>
				<div class="col-md-6">
					{% if form.themes is defined %}
						{{ form_row(form.themes, {
					'attr': {
						'class': 'd-flex flex-wrap',
					},
					'label_attr': {
						'class': 'me-2',
					},
					'required': true,
				}) }}
						<div id="add_theme_element">
							<button class="btn btn-success" id="add_theme">
								<i class="fa-duotone fa-plus me-2"></i>
								Ajouter un thème
							</button>
						</div>

					{% endif %}
				</div>
			</div>
			{{ form_row(form.title) }}
			{{ form_row(form.description) }}
			{{ form_row(form.file) }}
			<div class="d-flex justify-content-center">
				{{ form_row(form.submit) }}
			</div>
			{{ form_end(form) }}

		</turbo-frame>
	</div>
{% endblock %}
