{% extends 'base.html.twig' %}

{% block title %}Résultats de la recherche
{% endblock %}

{% block body %}
	<div class="container my-5">
		<h1 class="page-title">Résultats de la recherche</h1>

		{% set types = "" %}
		{% if criteria.type is not empty %}
			{% for type in criteria.type %}
				{% set types = [types,type.name]|join %}
				{% if not loop.last %}
					{% set types = [types,", "]|join %}
				{% endif %}
			{% endfor %}
		{% else %}
			{% set types = "Non spécifié" %}
		{% endif %}

		<div id="search-recap my-5">
			<div id="search-recap-filters" class="row row-cols-4">
				<div class="col">
					<p class="filter-label">Type de document</p>
					<div class="my-3 borders px-2 text-nowrap overflow-hidden" title="{{ types }}">
						{{ types }}
					</div>
				</div>
				<div class="col">
					<p class="filter-label">Niveau</p>
					<div class="my-3 borders px-2">
						{% if criteria.level %}
							{{ criteria.level.name }}
						{% else %}
							Non spécifié
						{% endif %}
					</div>
				</div>
				<div class="col">
					<p class="filter-label">Matière</p>
					<div class="my-3 borders px-2">
						{% if criteria.subject %}
							{{ criteria.subject.name }}
						{% else %}
							Non spécifié
						{% endif %}
					</div>
				</div>
				<div class="col">
					<p class="filter-label">Thématique</p>
					<div class="my-3 borders px-2">
						{% if criteria.theme %}
							{{ criteria.theme.name }}
						{% else %}
							Non spécifié
						{% endif %}
					</div>
				</div>
			</div>
			<div id="search-recap-title" class="text-center fs-1 fw-bold">
				{% if criteria.title %}
					<p class="filter-label">Termes de la recherche
					</p>
					{{ criteria.title }}
				{% endif %}
			</div>
		</div>

		<div class="bar w-75 mx-auto my-3"></div>

		<div id="filters" class="w-100 d-flex justify-content-between align-items-center gap-3">
			<div>Note minimale :
				{% for i in 1..5 %}
					<i class="far fa-star rating-filter" id="minimal-rating-{{i}}"></i>
				{% endfor %}
			</div>
			<div>Nombre de téléchargements</div>
			<select name="" id="">
				<option selected disabled>Trier par</option>
				<option value="downloads">Nombre de téléchargements</option>
				<option value="rating">Note</option>
				<option value="alph_asc">Ordre alphabétique croissant</option>
				<option value="alph_desc">Ordre alphabétique décroissant</option>
			</select>
		</div>

		<div id="results" class="container overflow-hidden my-3">

			<div class="row row-cols-2 g-3">

				{% for document in documents %}
					<a href="{{ path('document_show', {'slug': document.slug}) }}">
						<div class="col document" data-rating="{{document.ratingAverage}}">
							<div class="p-3 border bg-light">
								<h2 class="text-center">{{ document.title }}</h2>
								<div class="mx-auto text-center">
									proposé le
									{{ document.uploadedAt | format_datetime('short', 'none', locale='fr') }}
									par
									{{ document.author.username }}
								</div>
								<div class="mx-auto text-center">
									{% include 'partials/_rating.html.twig' %}
									{{ document.ratingAverage }}
								</div>

							</div>
						</div>
					</a>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
