{% extends 'base.html.twig' %}
{% block title %}Chercher un document
{% endblock
%}
{% block body %}
	<div class="container my-5">
		<h1 class="page-title">Rechercher un document</h1>

		{{ form_start(form) }}
		{{ form_row(form.type, {'attr': {'class': 'd-flex gap-5'}}) }}
		<div class="row">
			<div class="col">
				{{ form_row(form.level)}}
			</div>
			<div class="col">
				{{ form_row(form.subject)}}
			</div>
			<div class="col">
				{{ form_row(form.theme)}}
			</div>
		</div>
		<div class="mb-3">
			{{ form_widget(form.title)}}
		</div>
		<div class="d-flex flex-column align-items-center">
			<button type="submit" class="btn btn-lg btn-primary">Rechercher un document</button>
		</div>
		{{ form_end(form) }}

	</div>
{% endblock %}
