{% extends 'base.html.twig' %}
{% block title %}Chercher un document
{% endblock
%}
{% block body %}
	<div class="container my-5">
		<h1 class="page-title">Rechercher un document</h1>

		{{ form_start(form, {'attr': {'id': 'form_filter_documents'}}) }}
		<div class="row">
			<div class="col">
				{{ form_row(form.type) }}
			</div>
			<div class="col">
				{{ form_row(form.level)}}
			</div>
			<div class="col">
				{{ form_row(form.subject)}}
			</div>
			<div class="col">
				{{ form_row(form.theme)}}
			</div>
		</div>
		<div class="mb-3">
			{{ form_widget(form.title)}}
		</div>


		<div class="bar w-75 mx-auto my-3"></div>

		<div id="filters" class="row gap-3">
			<div class="col d-flex flex-column align-items-center">
				{{ form_label(form.ratingAverage)}}
				<div id="{{ field_name(form.ratingAverage) }}" class="d-flex justify-content-center" onchange="this.closest('form').submit()">
					{% for value in field_choices(form.ratingAverage) %}
						<div class="form-check">
							<input type="radio" id="ratingAverage_{{ loop.index0 }}" name="ratingAverage" class="form-check-input d-none" value="{{ value }}" {% if value == field_value(form.ratingAverage) %} checked {% endif %}>
							<label class="form-check-label" for="ratingAverage_{{ loop.index0 }}" data-rating="{{ value }}">
								<i class="far fa-star rating-filter"></i>
							</label>
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="col">
				{{ form_row(form.orderBy)}}
			</div>
			{% if app.request.query is not empty and app.request.query | length > 1 %}
				<div class="col d-flex align-items-center justify-content-end">
					<a href="{{ path('document_search') }}" class="btn btn-warning">
						<i class="fa-duotone fa-eraser me-2"></i>
						Effacer tous les filtres
					</a>
				</div>
			{% endif %}
		</div>
		{{ form_end(form) }}

		<div id="results" class="container overflow-hidden my-3">

			<div class="row row-cols-3 g-3" id="document_results">

				{% for document in documents %}
					<div class="col document" data-rating="{{document.ratingAverage}}">
						{% include 'partials/_document.html.twig' %}
					</div>
				{% endfor %}
			</div>
		</div>
		<nav>
			{% set params = app.request.query %}
			{% set paramsPrevious = params | merge({
					'offset' : previous
				}) %}
			{% set paramsNext = params | merge({
					'offset' : next
				}) %}
			<ul class="pagination justify-content-center">
				<li class="page-item {% if previous < 0 %} disabled {% endif %}">
					<a href="{{ url('document_search') }}?{{ paramsPrevious|url_encode }}" class="page-link">Précédent</a>
				</li>
				<li class="page-item {% if next >= documents|length %} disabled {% endif %}">
					<a href="{{ url('document_search') }}?{{ paramsNext|url_encode }}" class="page-link">Suivant</a>
				</li>
			</ul>
		</nav>
	</div>
{% endblock %}
