{% extends 'base.html.twig' %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/downloads_update.js') }}" crossorigin="anonymous" defer></script>
{% endblock %}


{% block title %}
	{{ document.title }}
{% endblock %}

{% block body %}
	<div class="m-5">
		<div class="row row-cols-1 row-cols-lg-2 g-3">
			<div class="col hidden-mobile">
				<object data="{{ path('document_show_pdf', {slug: document.slug}) }}#toolbar=0" type="application/pdf" width="100%" height="700px">
					<embed src="{{ path('document_show_pdf', {slug: document.slug}) }}#toolbar=0" type="application/pdf" width="100%" height="700px">
						<p>
							Le chargement du fichier est impossible. Veuillez réessayer plus tard.
							<br>
							Si le problème persiste, n'hésitez pas à consulter la
							<a href="{{ path('app_faq') }}#faqItem8">FAQ</a>
							ou à nous contacter.
						</p>
					</embed>
				</object>
			</div>


			<div class="col">
				{% if app.user and document in app.user.downloadedDocuments and not app.request.query.has('reload') %}
					<div class="alert alert-info alert-dismissible fade show" role="alert">
						<strong>Petite info:
						</strong>
						Vous avez déjà téléchargé ce document.
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
				{% endif %}
				<div class="mx-auto text-center d-flex justify-content-center gap-3">
					<div class="rating">
						{% include 'partials/_rating.html.twig' %}
						{{ document.ratingAverage | number_format(1, ',')}}
					</div>
					<div class="downloads">
						<i class="fa-duotone fa-download mx-2"></i>
						<span id="downloadsNumber">{{ document.downloadsNumber }}</span>
					</div>
					<div class="favorites">
						<i class="fa-duotone fa-heart text-danger mx-2"></i>
						<span id="downloadsNumber">{{ document.favoriteUsers|length }}</span>
					</div>
				</div>
				<h1 class="page-title doc-title my-3">
					{{ document.title }}
				</h1>
				<div class="mx-auto text-center">
					proposé le
					{{ document.uploadedAt | format_datetime('short', 'none', locale='fr') }}
					par
					<a href="{{ path('app_author_profile', {'username': document.author.username}) }}">{{ document.author.username }}</a>
				</div>

				<div class="my-3">
					{{ document.description }}
				</div>

				<div class="mx-auto text-center d-flex justify-content-center gap-3 py-3">
					<div>
						<a href="{{ asset('uploads/documents/' ~ document.file) }}" class="btn btn-sm btn-primary" id="downloadButton" data-id="{{ document.id }}" download="{{ document.slug }}">
							<i class="fa-duotone fa-download me-2"></i>
							Télécharger le document
						</a>
					</div>
					{% if document.author != app.user and app.user %}
						{% if app.user in document.favoriteUsers %}
							<div>
								<a class="btn btn-sm btn-danger" href="{{ path('user_documents_remove_favorite', {id: document.id}) }}">
									<i class="fa-duotone fa-heart-crack me-2"></i>
									Retirer des favoris
								</a>
							</div>
						{% else %}
							<div>
								<a class="btn btn-sm btn-danger" href="{{ path('user_documents_add_favorite', {id: document.id}) }}">
									<i class="fa-duotone fa-heart me-2"></i>
									Ajouter aux favoris
								</a>
							</div>
						{% endif %}
					{% endif %}
					{% if document.author.supportLink %}
						<div>
							<a href="{{ document.author.supportLink }}" target="_blank" class="btn btn-sm btn-success">
								<i class="fa-duotone fa-hand-holding-circle-dollar me-2"></i>
								Soutenir
								{{ document.author.username }}
							</a>
						</div>
					{% endif %}
				</div>
				{% if suggestions is not empty %}
					<div class="my-3">
						<h2>Ces documents pourraient vous intéresser :
						</h2>
						<div class="row row-cols-1 row-cols-md-2 g-3">
							{% for suggestion in suggestions %}
								<div class="col document" data-rating="{{suggestion.ratingAverage}}">
									{% include 'partials/_document.html.twig' with {'document': suggestion} %}
								</div>
							{% endfor %}
						</div>
					</div>
				{% endif %}
				{% if sameAuthorDocuments|length != 0 %}
					<div class="my-3">
						<h2>Du même auteur :
						</h2>
						<div class="row row-cols-1 row-cols-md-2 g-3">
							{% for document in sameAuthorDocuments %}
								<div class="col document" data-rating="{{document.ratingAverage}}">
									{% include 'partials/_document.html.twig' %}
								</div>
							{% endfor %}
						</div>
					</div>
				{% endif %}
			</div>
		</div>
		<div class="container my-3">
			<h3>
				{% if document.comments | length == 0 %}
					Aucun commentaire
				{% elseif document.comments | length == 1 %}
					{{ document.comments | length }}
					commentaire
				{% else %}
					{{ document.comments | length }}
					commentaires
				{% endif %}
			</h3>

			{% for comment in document.comments %}
				<div class="card my-3">
					<div class="card-body">
						<div class="d-flex justify-content-between">
							<div>
								{% for i in 1..5 %}
									{% if i <= comment.rating %}
										<i class="fas fa-star"></i>
									{% else %}
										<i class="far fa-star"></i>
									{% endif %}
								{% endfor %}
							</div>
							<div>
								{% if app.user and comment.author == app.user %}
									<a href="{{ path('comment_edit', {'id': comment.id}) }}" class="btn btn-primary btn-sm mx-1">
										<i class="fa-duotone fa-comment-pen"></i>
									</a>
									<a href="{{ path('comment_delete', {'id': comment.id}) }}" class="btn btn-danger btn-sm mx-1">
										<i class="fa-duotone fa-trash"></i>
									</a>
								{% endif %}
							</div>
						</div>
						<a href="{{ path('app_author_profile', {'username': comment.author.username}) }}">
							<h2 class="card-title">
								<img src="{{ comment.author.avatar }}" alt="" class="avatar">

								<span>{{ comment.author.username }}</span>
							</a>
						</h2>
						<h3 class="card-subtitle mb-2 text-body-secondary fs-6">le
							{{ comment.createdAt |format_datetime('short', 'none', locale='fr') }}
							à
							{{ comment.createdAt |format_datetime('none', 'short', locale='fr') }}
							{% if comment.editedAt %}
								<span class="fst-italic">(modifié le
									{{ comment.editedAt |format_datetime('short', 'none', locale='fr') }}
									à
									{{ comment.editedAt |format_datetime('none', 'short', locale='fr') }})</span>
							{% endif %}
						</h3>
						<p class="card-text">{{ comment.content }}</p>
					</div>
				</div>
			{% endfor %}

			{% if app.user and not allreadyCommented and app.user != document.author and document in app.user.downloadedDocuments %}
				<div class="text-center" id="addComment">
					<a href="{{ path('comment_add', {'slug': document.slug}) }}" class="btn btn-primary">
						<i class="fa-duotone fa-comment-plus me-2"></i>
						Ajouter un commentaire
					</a>
				</div>
			{% endif %}
		</div>
	</div>

{% endblock %}
