{% extends 'base.html.twig' %}

{% block title %}Mes informations
{% endblock %}

{% block body %}

	<div class="container h-100 my-5">
		<div class="row">
			<div class="col-3 border border-2">
				{% include('partials/_user-nav.html.twig') %}

				<div class="row"></div>
			</div>
			<div class="col-9">
				<div class="row gap-3">
					<div class="col bg-tile-default">
						<div class="d-flex justify-content-between align-items-center my-2">
							<i class="fa-duotone fa-circle-user"></i>

							<div>
								<p class="m-0">Nom d'utilisateur :
									{{ app.user.username }}</p>

								<p class="m-0">Prénom :
									{{ app.user.firstname }}</p>

								<p class="m-0">Nom :
									{{ app.user.lastname }}</p>

							</div>
						</div>
					</div>


					<div class="col rounded {% if app.user.isVerified %} bg-tile-success {% else %} bg-tile-danger {% endif %}">


						{% if app.user.isVerified %}
							<i class="fa-duotone fa-badge-check "></i>Adresse email vérifiée


						{% else %}
							<div class="d-flex justify-content-between align-items-center my-2">
								<i class="fa-duotone fa-circle-exclamation text-danger"></i>
								<div>
									<p class="m-0 fw-bolder text-danger fs-3">Adresse email non vérifiée</p>
									<p class="m-0">Renvoyer un mail de vérification</p>
								</div>
							</div>


						{% endif %}

					</div>
				</div>
				<div class="row"></div>


				Editer mes informations personnelles
				<a href="{{ path('user_password_edit') }}">Changer de mot de passe</a>

				Supprimer mon compte
			</div>
		</div>
	</div>

	{% for flash_error in app.flashes('user_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}
{% endblock %}
