{% extends 'user/base.html.twig' %}

{% block title %}Mes informations
{% endblock %}

{% block user_content %}
	<div class="row row-cols-1 row-cols-md-2 g-3">
		<div class="col">
			<div class="rounded {% if app.user.isVerified %} bg-tile-success {% else %} bg-tile-danger {% endif %} py-3 text-center">
				<div class="d-flex justify-content-between align-items-center my-2">
					{% if app.user.isVerified %}
						<i class="fa-duotone fa-badge-check text-success mx-3"></i>
						<p class="m-0 fw-bolder text-success fs-3">Adresse email vérifiée</p>
					{% else %}
						<i class="fa-duotone fa-circle-exclamation text-danger mx-3"></i>
						<div class="mx-3">
							<p class="m-0 fw-bolder text-danger fs-3">Adresse email non vérifiée</p>
							<p class="m-0">
								<a href="{{ path('app_resend_verification_email') }}" class="btn btn-sm btn-primary">Renvoyer un mail de vérification</a>
							</p>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="col">
			<div class="rounded bg-tile-default py-3 text-center">
				<div class="d-flex flex-column justify-content-center">
					<h2>Actions</h2>
					<a href="{{ path('user_password_edit') }}" class="btn btn-sm btn-primary my-3 mx-5">
						<i class="fa-duotone fa-unlock-keyhole mx-2"></i>Changer de mot de passe
					</a>
					<form action="{{ url('user_account_delete') }}" method="post" class="d-flex flex-column">
						<input type="hidden" name="token" value="{{ csrf_token('delete-item') }}">

						<button type="submit" class="btn btn-sm btn-danger my-3 mx-5" onclick="return confirm('Êtes-vous sûr(e) de vouloir supprimer votre compte TeachingHub ?')">
							<i class="fa-duotone fa-trash-xmark mx-2"></i>Supprimer mon compte</button>
					</form>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="rounded bg-tile-default py-3 text-center">
				<div class="d-flex flex-column justify-content-center">
					<div class="rounded-circle">
						<img src="{{ asset('images/avatars/' ~ app.user.avatar) }}" alt="Photo de profil" class="w-50 rounded-circle">
					</div>
					<div class="mx-3">
						<p class="m-0">
							<span class="fw-bolder">Nom d'utilisateur :</span>
							{{ app.user.username }}</p>
						<p class="m-0">
							<span class="fw-bolder">Prénom :</span>
							{{ app.user.firstname }}</p>
						<p class="m-0">
							<span class="fw-bolder">Nom :</span>
							{{ app.user.lastname }}</p>
					</div>
					<a href="{{ path('user_profile_edit') }}" class="btn btn-sm btn-primary my-3 mx-5">
						<i class="fa-duotone fa-user-pen mx-2"></i>
						Éditer mes informations
					</a>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="rounded bg-tile-default p-3">
				<div class="d-flex flex-column justify-content-center">
					<h2 class="text-center">À propos de moi</h2>
					<h3>Biographie</h3>
					{% if app.user.description %}
						<p>{{ app.user.description }}</p>
					{% else %}
						<p>Vous n'avez pas encore renseigné de biographie.</p>
					{% endif %}

					<a href="{{ path('user_profile_edit') }}" class="btn btn-sm btn-primary my-3 mx-5">
						<i class="fa-duotone fa-user-pen mx-2"></i>
						{% if app.user.description %}
							Éditer ma biographie
						{% else %}
							Renseigner une biographie
						{% endif %}
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
