{% extends 'base.html.twig' %}

{% block title %}Éditer mes informations
{% endblock %}

{% block body %}

	<div class="container my-5">
		<div class="row">
			<div class="col-3 border border-2">
				{% include('partials/_user-nav.html.twig') %}

				<div class="row"></div>
			</div>
			<div class="col-9 d-flex flex-column justify-content-center">
				{% for label, messages in app.flashes %}
					{% for message in messages %}
						<div class="alert alert-{{ label }}" role="alert">{{ message }}</div>
					{% endfor %}
				{% endfor %}

				<div class="container">
					<h1>Éditer mes informations</h1>
					{{ form_start(form) }}
					{{ form_row(form.firstname) }}
					{{ form_row(form.lastname) }}
					{{ form_row(form.username) }}


					<div class="d-flex flex-column my-5">
						<button type="submit" class="btn btn-lg btn-primary">
							<i class="fa-duotone fa-user-pen mx-2"></i>Éditer mes informations</button>
					</div>
					{{ form_end(form) }}
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
